@import url("./fonts.css");
* {
  margin: 0;
  padding: 0;
}
body,
html,
#app {
  width: 100%;
  overflow-x: hidden;
  height: auto;
  background: #ddd;
  font-family: "Montserrat", sans-serif;
  font-size: 99px;
  text-align: center;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: auto;
}
#app::-webkit-scrollbar {
  display: none;
}

text {
  user-select: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
}
