@keyframes bg-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(365deg);
  }
}
#app .info {
  position: relative;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 29, 1);
  color: #fff;
}

#app .info .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(90deg, #7fffd4, #9370db);
  animation-name: bg-rotate;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
  filter: blur(200px);
}
@media screen and (max-width: 1000px) {
  #app .info .bg {
    animation: none;
  }
}

#app .info .author {
  font-size: 40px;
  margin: 25px 0;
}

#app .info .intro {
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0 auto 30px;
  line-height: 35px;
}

#app .info .contact {
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  padding: 10px 30px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#app .info .contact .item {
  min-height: 40px;
  display: flex;
  align-items: center;
}

#app .info .contact .item svg.icon {
  margin-right: 10px;
  font-size: 30px;
}
#app .info .contact .item a {
  color: #fff;
}
